.box{
    border: #ffffff solid 1px;
    padding: 0.5rem;
    border-radius: 1rem ;
    transition: 0.115s;
    text-align: center;
    cursor: pointer;
    max-width: 350px;
   
  }
  
  .tags{
    max-width: 200px;
    display:flex;
    flex-wrap: wrap;
    justify-items:center;
    
  }
  
  .box:hover{
    box-shadow: 0.2rem 0.2rem;
    translate: -0.2rem -0.2rem;
  }
  
  .box > h2{
    font-size: 2rem;
  }
  
  .box > img{
    border-radius: 1rem;
    max-width: 100%;
    height: 200px;
    align-items: center;
    object-fit: cover;
  }
  
  .tag{
    padding: 0.5rem;
    background: #ffffffff;
    color: #000000;
    border-radius: 0.5rem;
    justify-content: center;
    margin-bottom: 0.25rem;
    margin-right: 1rem;
  }
  
  .label-tag{
    padding-left: 0rem;
    text-align: left;
    max-width: 100px;
    padding-left: 0.5rem;
  }
  
  .box-label{
    display: flex;
    flex-direction:column; 
  }
  