.box{    
    border: #ffffff solid 1px;
    
    border-radius: 1rem ;
    transition: 0.115s;
    text-align: center;
    cursor: pointer;
    max-width: 300px;
    margin: 2rem;
  }
  
  .tags{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .box:hover{
    box-shadow: 0.2rem 0.2rem;
    translate: -0.2rem -0.2rem;
  }
  
  .box > h2{
    font-size: 2rem;
  }
  
  .box > img{
    border-radius: 1rem;
    max-width: 100%;
    height: 200px;
   
  }
  
  .tag{
    
    background: #ffffffff;
    color: #000000;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 200px;
    width: 100px;
   
    
  }
  
  .label-tag{
    text-align: left;
    max-width: 100px;
   
  }
  
  .box-label{
    display: flex;
    flex-direction:column; 
    margin-left: 0.5rem;
  }
  